* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

main {
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

header img {
  padding-left: 50px;
  padding-top: 20px;
  width: 300px;
}

.overskift {
  padding-bottom: 20px;
  font-size: 28px;
}
/* Index Start*/
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.category_list_container {
  display: block;
  padding: 40px;
  background-color: rgb(132, 131, 131);
  text-decoration: none;
  color: rgb(236, 236, 236);
  border-radius: 10px;
  font-size: 20px;
}

@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
  }
}

/* Index Slut*/

/* Product list Start*/

.product_list_container {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
.grid_1-1-1-1 {
  gap: 20px;
}

@media (min-width: 800px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
}

/* Product list Slut*/

/* Product Start*/

@media (min-width: 800px) {
  .product_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .p_img img {
    width: 100%;
    height: auto;
    display: block;
  }

  .p_info {
    padding: 2rem;
  }

  .p_info h2 {
    padding-bottom: 20px;
    font-size: 43px;
  }

  .p_info h3 {
    font-size: 22px;
  }

  .p_info p {
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 20px;
  }

  .p_form {
    background-color: rgb(195, 195, 195);
    color: white;
    padding: 2rem;
  }

  .p_form h2 {
    padding-bottom: 20px;
    font-size: 43px;
  }

  .p_form p {
    padding-bottom: 20px;
    font-size: 20px;
  }

  .p_form button {
    padding-bottom: 20px;
    color: black;
    padding: 6px 30px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
  }
}

/* Product Slut*/

.wrapper {
  display: flex;
}

.procent {
  margin-left: auto;
  background-color: red;
  padding: 2px;
}

.old-price,
.new-price {
  display: block;
}

.amount {
  text-decoration: line-through;
  color: red;
}

.sold-out {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.333);
  padding: 16px;
  font-size: 18px;
  color: white;
}
