* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

main {
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

header img {
  padding-left: 50px;
  padding-top: 20px;
  width: 300px;
}

.back {
  padding: 14px;
  width: 100px;
  font-size: 15px;
  border-style: none;
  background-color: rgb(192, 188, 188);
  border-radius: 4px;
  text-decoration: none;
  color: black;
  margin-left: auto;
  margin-right: 50px;
  text-align: center;
}

.back_det {
  padding: 14px;
  width: 100px;
  font-size: 15px;
  border-style: none;
  background-color: rgb(192, 188, 188);
  border-radius: 4px;
  text-decoration: none;
  color: black;
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  text-align: center;
}

/* Index Start*/
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.category_list_container {
  display: block;
  padding: 40px;
  background-color: rgb(192, 188, 188);
  text-decoration: none;
  color: rgb(236, 236, 236);
  border-radius: 10px;
  font-size: 20px;
}

@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
  }
}

/* Index Slut*/

/* Productlist Start*/

#sorter button {
  padding: 8px;
  margin: 10px;
  width: 100px;
  font-size: 15px;
  border-style: none;
  background-color: rgb(211, 209, 209);
  border-radius: 4px;
}

#sorter {
  padding-left: 40px;
}

.filterBtn button {
  padding: 14px;
  margin: 10px;
  width: 100px;
  font-size: 15px;
  border-style: none;
  background-color: rgb(192, 188, 188);
  border-radius: 4px;
}

.filterBtn {
  display: flex;
  align-items: center;
  padding-left: 40px;
  gap: 20px;
}
.smallProduct a {
  text-decoration: none;
  color: black;
}
.hide {
  display: none;
}
.subtle {
  color: rgb(128, 125, 125);
}

.discount {
  display: flex;
  justify-content: space-between;
}

.tilbud {
  background-color: rgb(250, 57, 57);
  padding: 2px;
}

@media (min-width: 800px) {
  #mainContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
}

/* Productlist Slut*/

/* Productdetails Start*/

@media (min-width: 800px) {
  #productContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

/* Productdetails Slut*/
